.iconfont {
    font-size: 22px;
}
.editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}
.editor > .left,
.editor > .right {
    width: 272px;
    position: relative;
}
/* 文本编辑页面左侧导航 */
.editor > .left {
    background: #464C5B;
}
.editor > .left > .l-top {
    height: 48px;
    padding-top: 14px;
}

.editor > .left > .l-top > .form-control {
    background: #5B6270;
    border: none;
    width: 200px;
    margin-left: 32px;
    color: #F5F7F9;
}
.editor > .left > .catalog {
    width: 100%;
    padding: 32px 0;
    color: #FFFFFF;
}
.editor > .left > .catalog .add-catalog {
    position: relative;
}
.editor > .left > .catalog .catalog-l1 > div, 
.editor > .left > .catalog .catalog-l2 {
    position: relative;
    margin: 0;
    padding: 6px 0;
    height: 32px;
    margin-bottom: 6px;
}
.editor > .left > .catalog h3,
.editor > .left > .catalog h4 {
    font-size: 18px;
    margin: 0;
    margin-left: 32px;
    float: left;
    width: 200px;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #bbbbbb;
    transition: color .5s;
}
.editor > .left > .catalog h3 {
    color: #CCCCFF;
}
.editor > .left > .catalog h4.active {
    color: #CCFFCC;
}
.editor > .left > .catalog input {
    display: block;
    margin-left: 32px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
    border: none;
    color: #FFFFFF;
    transition: width .5s;
}
.editor > .left > .catalog input.show {
    color: #464C5B;
    width: 192px;
    padding-left: 8px;
    border-radius: 3px;
}
.editor > .left > .catalog i {
    float: right;
    margin-right: 12px;
    cursor: pointer;
    font-size: 20px;
}
.editor > .left > .catalog i:hover {
    margin-right: 10px;
    font-size: 24px;
}
.editor > .left > .catalog .catalog-l1 > div.catalog-new-section {
    margin-left: 32px;
    font-size: 18px;
    color: #bbbbbb;
}
.editor > .left > .catalog .catalog-l1 > div.catalog-new-section input {
    margin: 0;
}
.editor > .left > .catalog .catalog-l3 {
    transition: height .5s, padding .3s;
    background: #313540;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.editor > .left > .catalog .catalog-l3.active {
    height: 35px;
    padding: 2px 0;
}
.editor > .left > .catalog .catalog-l3-current {
    background: #3399FF;
}
.editor > .left > .catalog .catalog-l3:hover {
    background: #3399FF;
}
.editor > .left > .l-bottom {
    width: 272px;
    height: 32px;
    display: flex;
    flex-flow: row;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #E0E2E4;
}
.editor > .left > .l-bottom i {
    font-size: 16px;
}
.editor > .left > .l-bottom > div {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    flex: 1;
}
.editor > .left > .l-bottom > div span {
    cursor: pointer;
}
/* 文本编辑页面主体内容 */
.editor > .center {
    background: #F5F7F9;
    flex: 1;
}
.editor > .center > .c-top {
    border-bottom: 1px solid #E0E2E4;
    background: #FFFFFF;
    height: 60px;
    width: 100%;
    position: relative;
}
.editor > .center > .c-top > .percent {
    height: 1px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, blue, yellow, red);;
    z-index: 1000;
}
.editor > .center > .c-top > .percent100 {
    width: 100%;
    transition: width 1s;
}
.editor > .center > .c-top .c-top-left {
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 18px;
}
.editor > .center > .c-top .c-top-right {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 18px;
}
.editor > .center .c-main-nav {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 28px;
    text-align: right;
}
.editor > .center .c-main-nav span {
    float: left;
}
.editor > .center .c-main-cnt {
    display: flex;
    flex-flow: row;
    overflow-y: scroll;
}
.editor > .center .c-main-content {
    flex: 1;
    margin: 0 28px;
    padding-bottom: 100px;
}
/* 文本编辑页面右侧 */
.editor > .right {
    border-left: 1px solid #E0E2E4;
}